    <!-- main -->
    <main class="main-content">
        <div class="container">
            <div class="col-10 mx-auto  justify-content-center bg-event">
               
                    <div class="row events-boxs">
                        <div class="accordion accordion-flush" id="annonce">
                            <div class="accordion-item  ">
                                <h2 class="accordion-header" id="flush-headingOne"></h2>
                                <button class="btn btn-success d-block mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#add-annonce" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Ajouter Annonce<i class="fa fa-angle-double-down p-2" aria-hidden="true"></i>
                                </button>
                                
                                <div id="add-annonce" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#annonce">
                                <div class="accordion-body shadow-sm p-3 mb-5 bg-body rounded">
                                    <add-annonce></add-annonce>
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div *ngFor="let annonce of annonces" class="col-5 events-boxs__item">
                            <a [routerLink]="['/annonce/detail',annonce.id]" ><img src="http://127.0.0.1:8000/{{ annonce.image  }}"  style="height:230px"></a>
                            <div class="events-boxs__item__footer">
                                <div class="border-bottom-grey events-boxs__item__footer--row">
                                
                                    <div class="col-8 p-0">
                                        <p>{{ annonce.title }} </p>
                                        <p class="subtitle">{{ annonce.description.substring(0,100)  }} ...</p>
                                    </div>
                                    <div class="col-4 p-0">
                                        <button (click)="reservation(annonce.id)" *ngIf="annonce.reserved==0" class="btn btn-success events-boxs__item--btn mt-5">
                                            
                                            Réservation
                                        </button>
                                        <span  *ngIf="annonce.reserved==1" class=" text-success events-boxs__item--btn mt-5">
                                            Réservé <i class="fa fa-check-circle text-success"></i>
                                          
                                        </span>
                                       
                                    </div>
                                </div>
                               
                                <div class=" events-boxs__item__footer--row">
                                    <div class="col-8 p-0">
                                        <p class="subtitle">Heure de début - Heure de Fin</p>
                                    </div>
                                    <div class="col-4 p-0">
                                        <p class="subtitle">{{annonce.start_hour }} - {{ annonce.end_hour }}</p>
                                        <p class="date font-weight-bold text-end me-3"> {{ annonce.created_at }}</p>
                                        </div>
                                </div>
                            </div>
                        </div> 

                    </div>
               
               
            </div>
        </div> 
 
    </main>  
    <!-- main -->