<div class="container" *ngIf="annonce">
    <img src="http://127.0.0.1:8000/{{ annonce.image  }}" alt="{{ annonce.title }}" style="max-height:300px">
    <div class="row justify-content-center">
      

    <div class="col-10   px-0 py-5">
        <div class="row py-2 border-dark shadow  bg-body rounded text-center">
            <div class="col-6">
                <p><span class="fw-bolder ">Titre: </span>{{ annonce.title }}</p>
            </div>
            <div class="col-6">
                <p><span class="fw-bolder">réservé: </span>
                
                    <span [ngClass]="annonce.reserved == 0  ? ['text-danger'] : ['text-success'] "> {{ annonce.reserved == 0  ? 'Non' : 'Oui' }} </span>
                </p>
            </div>
        </div>
        <div class="row py-2 border-dark shadow  bg-body rounded mt-4 text-center">
            <div class="col-6">
                <p><span class="fw-bolder ">Date de Début: </span>{{ annonce.start_hour }}</p>
            </div>
            <div class="col-6">
                <p><span class="fw-bolder">Date de fin: </span>{{ annonce.end_hour }}</p>
            </div>
        </div>
        <div class="row py-2 border-dark shadow  bg-body rounded mt-4 text-center">
            <div class="col-12">
                <p><span class="fw-bolder ">Description: </span><br/>
                    {{ annonce.description }}</p>
            </div>
           
        </div>
    </div>
  </div>