<div class="container" *ngIf="annonce">
<form (ngSubmit)="updateAnnonce()" [formGroup]="form" class="card-body">
    <div class="row">
        <div class="col">
            <label for="title">Titre</label>
            <input  type="text"  formControlName="title" id="title" 
            class="form-control" placeholder="Titre" [ngClass]="{'is-invalid':( submited || f.title.touched) && f.title.errors}">
            <div *ngIf="(submited || f.title.touched) && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">
                    Titre est obligatoire
                </div> 
              </div> 
        </div>
    
        <div class="col-12">
            <label for="description">Description</label>
            <textarea  type="number"  formControlName="description" id="description" 
            class="form-control" placeholder="Description" [ngClass]="{'is-invalid':(submited || f.description.touched) && f.description.errors}"></textarea>
            <div *ngIf="(submited || f.description.touched) && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">
                    Description est obligatoire
                </div> 
              </div> 
        </div>
        <div class="col">
            <label for="start_hour">Heure de début</label>
            <input  type="time"  formControlName="start_hour" id="start_hour" 
            class="form-control" placeholder="Longueur" [ngClass]="{'is-invalid':(submited || f.start_hour.touched) && f.start_hour.errors}">
            <div *ngIf="(submited || f.start_hour.touched) && f.start_hour.errors" class="invalid-feedback">
                <div *ngIf="f.start_hour.errors.required">
                    heure de début  est obligatoire
                </div>
           
              </div> 
        </div>
        <div class="col">
            <label for="end_hour">Heure de Fin</label>
            <input  type="time"  formControlName="end_hour" id="end_hour"  
            class="form-control" placeholder="Largeur" [ngClass]="{'is-invalid':(f.end_hour.touched || submited)  && f.end_hour.errors}">
            <div *ngIf="(f.end_hour.touched || submited) && f.end_hour.errors" class="invalid-feedback">
                <div *ngIf="f.end_hour.errors.required">
                    heure de fin est obligatoire
                </div> 
            
              </div> 
        </div>
        <div class="col-12">
            <label for="image" class="form-label">Photo (laissez-le vide pour ne pas mettre à jour) </label>
            <input (change)="changeFile($event)" formControlName="image" class="form-control" type="file" id="image">
        </div>
        
    </div>
    <button type="submit" class="btn btn-success d-block mx-auto mt-4" >Modifier</button>
</form>
</div>