    <!-- header -->
    <header>
        <nav class="navbar">
            <div class="navbar__logo">
                <img class="navbar__logo--img" src="./assets/images/Ulogofootballlong.png" alt="">
            </div>
           
            <ul class="navbar__menu d-flex">
                <li class="navbar__menu__item">
                 <a href="home.html">Home</a> 
                </li>
                <li class="navbar__menu__item ">
                  <a href="news-search.html">News</a>
                </li>
                <li class="navbar__menu__item">
                <a href="video.html">Video</a>  
                </li>
                <li class="navbar__menu__item active">
                <a href="event.html">Event</a>  
                </li>
               
            </ul>

            <div class="navbar__buttons">
                <a routerLink="/login" class="btn  btn-sm mx-2" >Se Connecter</a>
                <a routerLink="/register"  class="btn btn-sm">Inscription</a>
            </div>


        </nav>
    </header>  
    <!-- header -->
