<form>

    <div class="row">
        <div class="col">
            <label for="first_name">Prenom</label>
            <input  type="text"  formControlName="first_name" id="first_name" 
            class="form-control" placeholder="Prenom" [ngClass]="{'is-invalid':f.first_name.touched && f.first_name.errors}">
            <div *ngIf="f.first_name.touched && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">
                    Prénom est obligatoire
                </div> 
              </div> 
        </div>
        <div class="col">
            <label for="last_name">Nom</label>
            <input  type="text"  formControlName="last_name" id="last_name" 
            class="form-control" placeholder="Nom" [ngClass]="{'is-invalid':f.last_name.touched && f.last_name.errors}">
            <div *ngIf="f.last_name.touched && f.last_name.errors" class="invalid-feedback">
                <div *ngIf="f.last_name.errors.required">
                    Nom est obligatoire
                </div> 
              </div> 
        </div>
      
    </div>

    <button type="submit" class="btn btn-success d-block mx-auto mt-4" >Ajouter</button>
  </form>